body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #8B0000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 15px 0; 
    text-align: center;
    display: flex; 
    justify-content: center; 
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #8B0000;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px; 
    font-size: 25px; 
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
section.active {
    display: block; 
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.flags {
    position: absolute; 
    top: 10px; 
    left: 10px; 
}
.flags img {
    width: 40px; 
    height: auto;
    cursor: pointer; 
    margin-right: 5px; 
}

@media screen and (max-width: 768px) {
    header {
        padding: 15px 0;
    }

    nav {
        flex-direction: column; 
        margin: 10px 0;
    }

    nav a {
        margin: 5px 0;
        font-size: 20px; 
        padding: 10px 0; 
    }

    section {
        padding: 15px;
        margin: 10px;
    }

    footer {
        font-size: 14px; 
    }

    .flags img {
        width: 30px; 
    }

    body {
        font-size: 16px; 
    }
}


@media screen and (max-width: 480px) {
    nav a {
        font-size: 18px; 
    }

    section {
        padding: 10px;
    }

    footer {
        font-size: 12px; 
    }

    .flags img {
        width: 25px; 
    }
}
